  .header
    .header__content
      .header__content__logo
        POKEYARU
      .header__content__search
        検索バー
    .header__nav
      %ul.header__nav__list
        %li
          = link_to "#" do
            キーワードで探す
        %li
          = link_to "#" do
            拡張BOXから探す
        %li
          = link_to "#" do
            いいね一覧
        %li
          = link_to "#" do
            お知らせ
        %li
          = link_to "#" do
            ログイン
        %li
          = link_to "#" do
            新規登録